<div id="dialog-box" class="modal card bg-dark">
    <div id="dialog-title" class="dialog-header move text-center">{title}</div>
    <div class="p-1">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Name: </div>
            </div>
            <input type="text" name="" id="name" class="form-control" placeholder="Name">
        </div>
    </div>
    <div class="text-center">
        <button id="create" class="btn btn-primary">{btn1}</button>
        <button id="close" class="btn btn-secondary">Cancel</button>
    </div>
</div>