<div id="modal-details" class="modal bg-dark card">
    <div class="dialog-header text-center move">
        <span class="m-title">Details</span>
        <span id="modal-close" class="btn-hide"><i class="far fa-times-circle"></i></span>
    </div>
    <div id="details-body">
        <div><span>Name: </span>{FileName}</div>
        <div><span>Current: </span>{Page}</div>
        <div><span>Total: </span>{Total}</div>
        <div><span>Extension: </span>{extension}</div>
        <div><span>Size: </span>{Size}</div>
        <div><span>Last Modified: </span>{Date}</div>
    </div>
</div>

