<div id="modal-config" class="modal bg-dark card">
    <div class="dialog-header text-center move">
        <span class="title">Configuration</span>
        <span id="modal-close" class="btn-hide"><i class="far fa-times-circle"></i></span>
    </div>
    <div id="modal-body">
        <div id="viewer-config" class="card-body">
            <div class="">
                <label for="img-width">Image ScaleX: <span id="img-width-val"></span></label>
                <input id="img-width" class="slider" type="range" min="0.0" max="1.0" step="0.01" value="0.63" name="imgw" />
            </div>
        </div>
    </div>
</div>