<div id="modal-config" class="modal bg-dark card">
    <div class="dialog-header text-center move">
        <span class="m-title">Configuration</span>
        <span id="modal-close" class="btn-hide"><i class="far fa-times-circle"></i></span>
    </div>
    <div id="modal-body">
        <div id="image-viewer-config" class="card-body {isviewer} cancel-footer">
            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <div class="select-style">Animation:</div>
                </div>
                <select id="anim-select" class="form-control select-list">
                </select>
            </div>
            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <div class="select-style">Duration: </span></div>
                </div>
                <input id="anim-duration" type="number" class="form-control mr-1" min="0" step="50"></span>
            </div>
            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <div class="select-style">Scale Width: </span></div>
                </div>
                <input id="scale-img-w" type="number" class="form-control mr-1" min="0" max="2" step="0.05"></span>
            </div>
        </div>
        <div id="file-viewer-config" class="card-body {isfilebrowser}">
            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <div class="select-style">Sort By:</div>
                </div>
                <select id="sort-select" class="form-control select-list ">
                    <option value="Name-D">&#xf15d; Name</option>
                    <option value="Name-U">&#xf15e; Name</option>
                    <option value="Date-D">&#xf162; Date</option>
                    <option value="Date-U">&#xf163; Date</option>
                    <option value="Size-D">&#xf160; Size</option>
                    <option value="Size-U">&#xf161; Size</option>
                </select>
            </div>
            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <input type="checkbox" name="" id="showDeleteDialog" class="checked-box">
                    <label id="showDeleteDialog-check" for="showDeleteDialog" class="checked-mark select-style">Delete Dialog </label>
                </div>
            </div>
        </div>
        <div id="v-config" class="card-body {isvideoplayer}">
            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <div class="select-style">Function:</div>
                </div>
                <select id="key-select" class="form-control select-list">
                    <option value="nextfile">&#xf061; &#xf1c8;</option>
                    <option value="previousfile">&#xf060; &#xf1c8;</option>
                    <option value="fullscreen">&#xf31e; Screen</option>
                    <option value="playpause" selected>&#xf04b; &#xf337; &#xf04c;</option>
                    <option value="volumeup">&#xf062; Volume</option>
                    <option value="volumedown">&#xf063; Volume</option>
                    <option value="volumemute">&#xf6a9; Volume</option>
                    <option value="rewind">&#xf049;</option>
                    <option value="forward">&#xf050;</option>
                </select>
            </div>
            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <label class="select-style">Enter key</label>
                </div>
                <input type="text" name="" id="keyinput" class="form-control">
                <div class="input-group-prepend">
                    <input type="checkbox" name="" id="isctrl">
                    <label id="ctrl-check" for="isctrl" class="select-style">CTRL </label>
                </div>
            </div>
        </div>
    </div>
</div>