#track{
    position: relative;
    width: 70%;
    margin: 20px auto;
    height: 10px;
    background-color: red;
}

#thumb{
    position: absolute;
    top: -8px;
    left: calc(0 - 13px);
    display: inline-block;
    height: 26px;
    width: 26px;
    background-color: aqua;
    border-radius: 50%;
}