.m-body {
    min-height: calc(100% - 46px);
    height: calc(100% - 46px);
}

.modal-list-file {
    display: flex;
    min-height: 350px;
    height: calc(80% - 90px);
    max-height: 800px;
    bottom: 46px;
    font-size: 14px;
    border-radius: 1%;
    left: -100%;
    transition:visibility 0.3s linear,opacity 0.3s linear;
    visibility: hidden;
    opacity: 0;
}

.show-modal{
    visibility: visible;
    left: 0;
    opacity: 1;
}

.tab-content{
    height: calc(100% - 2px);
}

.list-group-item {
    white-space: nowrap;
    padding: 0.4rem 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-file-content {
    overflow-y: auto;
    text-align: left;
    height: calc(100% - 50px);
    padding-left: 4px;
}

.list-footer {
    padding: 5px;
    border-top: 1px solid;
}

.list-footer .input-group {
    height: 35px;
    margin: 3px 0;
}

.list-file-content::-webkit-scrollbar {
    width: 15px;
}

.list-file-content::-webkit-scrollbar-track {
    margin: 0;
}

.list-file-content::-webkit-scrollbar:hidden ul{
    padding: 10px;
}

.list-file-content::-webkit-scrollbar-thumb {
    border-radius: 0px;
    margin: 3px 0;
}

#file-found {
    margin: 0;
    font-weight: bold;
}

.list-group-item:hover {
    opacity: .85;
    cursor: pointer;
}

.list-footer .input-group-text {
    padding: 0.375rem 0 0.375rem 0.;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.fa-search {
    margin-right: 9px;
}

.input-group-text span i {
    font-size: 30px;
    padding: 0 5px;
}

#current-page {
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 3px;
}

#delete-list {
    font-size: 1.3em;
    padding: 0 5px;
}

.list-group-item span.list-text {
    pointer-events: none;
}

.list-group li .fa-trash-alt {
    font-size: 20px;
    cursor: pointer;
}
.modal span i{
    font-size: 25px;
}
.btn-hide, #list-add-folder, #list-sync-folder{
    position: absolute;
    left: 10px;
    top: 10px;
}
#list-sync-folder{
    left: 45px;
}
.btn-hide {
    left: inherit;
    right: 10px;
}

#list-file-header label:not(.active) {
    margin: 0;
    cursor: pointer;
}

#list-file-header label:active {
    opacity: 0.97;
}

.list-item-empty {
    display: none;
}

.list-item-empty:only-child {
    display: block;
    text-align: center;
    pointer-events: none;
}

.list-group-item:focus{
    outline: none;
    opacity: 0.70;
}

ul, label {
    margin: 0;
    padding: 0;
}

#list-file li:nth-child(2) {
    border: 0;
}

.list-footer .select-list
{
    font-weight: 700;
    height: 35px !important;
}

.list-text,
.modal .title{
    pointer-events: none;
    line-height: 2.5;
}

#folder-reloading {
    z-index: 9;
    color: white;
    position: fixed;
    bottom: 42px;
    left: 4px;
    pointer-events: none;
}

#folder-reloading i{
    font-size: 2rem;
    position: relative;
}
#folder-reloading .fa-sync {
    position: absolute;
    font-size: 1rem;
    color: red;    
    top: 10px;
    left: 6px;
}

.form-control{
    margin-right: 4px;
    border-radius: 5px;
}

#btn-search-clear{
    position: absolute;
    top: 8px;
    right: 10px;
     z-index: 99;
}
#btn-search-clear i{
    font-size: 20px;
    color:lightslategray;
}


#files-filter + span{
    display: none;
}

#files-filter:valid + span{
    display:inline-block;
}

.modal label .fa-star{
    pointer-events: none;
}
.modal label.active .fa-star{
    color: yellow;
}
#modal-search .input-group{
    pointer-events: none;  
}

#modal-search .input-group span{
    pointer-events: all;
}
#modal-search #search-found {
    pointer-events: none;  
}

#sort-select,
#sort-select option{
    font-weight:bold;
    font-family:Arial, Font Awesome\ 5 Free;
    color: black;
}

#sort-select{
    color: brown;
}
.m-body .list-icon{
    font-size: 20px;
    margin-right: 3px;
    font-weight:bold;
    font-family:Arial, Font Awesome\ 5 Free;
}