.m-body {
    min-height: calc(100% - 46px);
    height: calc(100% - 46px);
}

.modal-list-file {
    display: flex;
    min-width: 350px;
    min-height: 350px;
    height: calc(480 - 90px);
    max-height: 800px;
    bottom: 46px;
    font-size: 14px;
    border-radius: 1%;
    left: -100%;
    transition: visibility 0.3s linear, opacity 0.3s linear;
    visibility: hidden;
    opacity: 0;
}

.show-modal {
    visibility: visible;
    left: 0;
    opacity: 1;
}

.tab-content {
    height: calc(100% - 2px);
    position: relative;
}

.list-group-item {
    white-space: nowrap;
    padding: 0.2rem 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
}

.list-file-content {
    overflow-y: auto;
    text-align: left;
    height: calc(100% - 50px);
    padding-left: 4px;
}

.list-footer {
    padding: 5px;
    border-top: 1px solid;
}

.list-footer .input-group {
    height: 35px;
    margin: 3px 0;
}

.list-file-content::-webkit-scrollbar {
    width: 15px;
}

.list-file-content::-webkit-scrollbar-track {
    margin: 0;
}

.list-file-content::-webkit-scrollbar:hidden ul {
    padding: 10px;
}

.list-file-content::-webkit-scrollbar-thumb {
    border-radius: 0px;
    margin: 3px 0;
}

#file-found {
    margin: 0;
    font-weight: bold;
}

.list-group-item:hover {
    opacity: .85;
    cursor: pointer;
}

.list-footer .input-group-text {
    padding: 0.375rem 0 0.375rem 0.;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.fa-search {
    margin-right: 9px;
}

.input-group-text span i {
    font-size: 30px;
    padding: 0 5px;
}

#current-page {
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 3px;
}

#delete-list {
    padding: 0 5px 0 0;
}

.list-group-item span.list-text {
    pointer-events: none;
}

.list-group li .fa-trash-alt {
    font-size: 20px;
    cursor: pointer;
}

.modal span i {
    font-size: 24px;
}

.modal li span i {
    font-size: 18px;
    margin: 0 2px;
}

.btn-hide,
#list-add-folder,
#list-sync-folder {
    position: absolute;
    left: 10px;
    top: 10px;
}

#list-sync-folder {
    left: 45px;
}

.btn-hide {
    left: inherit;
    right: 10px;
}

#list-file-header label:not(.active) {
    margin: 0;
    cursor: pointer;
}

#list-file-header label:active {
    opacity: 0.97;
}

.list-item-empty {
    display: none;
}

.list-item-empty:only-child {
    display: block;
    text-align: center;
    pointer-events: none;
    padding: 0.5rem;
}

.el-selected {
    opacity: 0.70;
}

ul,
label {
    margin: 0;
    padding: 0;
}

#list-file li:nth-child(2) {
    border: 0;
}

.list-footer .select-list {
    font-weight: 700;
    height: 35px !important;
}

.modal .m-title {
    pointer-events: none;
    line-height: 2.5;
    margin-bottom: 0;
}

#folder-reloading {
    z-index: 9;
    color: white;
    position: fixed;
    bottom: 42px;
    left: 4px;
    pointer-events: none;
}

#folder-reloading i {
    font-size: 2rem;
    position: relative;
}

#folder-reloading .fa-sync {
    position: absolute;
    font-size: 1rem;
    color: red;
    top: 10px;
    left: 6px;
}

.form-control {
    margin-right: 4px;
    border-radius: 5px;
}

#btn-search-clear {
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 99;
}

#btn-search-clear i {
    font-size: 20px;
    color: lightslategray;
}


#files-filter+span {
    display: none;
}

#files-filter:valid+span {
    display: inline-block;
}

.modal label .fa-star {
    pointer-events: none;
}

.modal label.active .fa-star {
    color: yellow;
}

.modal label {
    padding-bottom: 6px;
}

#modal-search .input-group {
    pointer-events: none;
}

#modal-search .input-group span {
    pointer-events: all;
}

#modal-search #search-found {
    pointer-events: none;
}
#key-select,
#key-select option,
#sort-select,
#sort-select option {
    font-weight: bold;
    font-family: Arial, Font Awesome\ 5 Free;
    color: black;
}

#key-select,
#sort-select {
    color: brown;
}

.m-body .list-text {
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Font Awesome\ 5 Free;
}

#modal-scan-folder {
    display: none;
}

.dialog-header {
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    cursor: -webkit-grab;
}

.dialog-header:active {
    cursor: -webkit-grabbing;
}

.modal .card-body {
    height: 70%;
}

.card-body .select-style {
    width: 128px;
}

#scan-list li {
    padding: 0.5rem .6rem;
}

.modal .fa-list-ol {
    position: relative;
    top: 3px;
}

#play-list .list-file-content {
    height: 100%
}

#file-count {
    display: inline-block;
    position: absolute;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    background-color: grey;
    height: 35px;
    width: 40px;
    text-align: center;
    line-height: 2.5;
    pointer-events: none;
    z-index: 10;
    opacity: .75;
}


#v-config .select-style {
    width: initial;

}

#v-config #ctrl-check {
    position: relative;
    font-weight: bold;
    font-family: Arial, Font Awesome\ 5 Free;
    margin: 0 4px 0 0;
    padding: 0 25px 0 5px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

#v-config #keyinput{
    margin:0;
    border-radius: 0;
}

#v-config #ctrl-check:after,
#v-config #ctrl-check:before{
    position: absolute;
    right: 4px;
}

#v-config #ctrl-check:before{
    content: "\f146";
    display: inline-block;
}

#v-config #ctrl-check:after{
    content: "\f14a";
    display: none;
}

#v-config input[type=checkbox]{
    display: none;
}

#v-config #isctrl:checked + #ctrl-check:after{
    display: inline-block;
}

#v-config #isctrl:checked + #ctrl-check:before{
    display: none;
}

.modal input[type="radio"]:checked + label .fa-database{
    color: lightgray;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6)
}

.modal input[type="radio"]:checked + label{
        color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    cursor: default !important;
}

#file-viewer-config input{
     display: none;
}

#file-viewer-config #showDeleteDialog-check{
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-family: Arial, Font Awesome\ 5 Free;
    transition: all .2s;
}

#file-viewer-config #showDeleteDialog-check:before{
    content: " ";
    position: absolute;
    display:inline-block;
    left: 49.5%;
    width: 125px;
    height: 100%;
    background-color: white;
    border-radius: 0 5px 5px 0;
    font-size: 25px;
}

#file-viewer-config #showDeleteDialog-check:after{
    content: "\f00c";
    position: absolute;
    left: 68%;
    font-size: 25px;
}

#file-viewer-config #showDeleteDialog:checked + #showDeleteDialog-check:after{
    content: "\f00d";
}

.select-style{
    display: flex;
    align-items: center;
    padding: .375rem .50rem;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    font-weight: bold;
}

.select-style span{
    margin: 0 5px;
}

#modal-config{
 min-width: 300px;
 width: 200px;
}