.tool-config{
    position: relative;
}

.tool-config input{
    display: none;
}


.tool-config label .fa-cog:active {
    transform: rotateZ(90deg);
}

.sub-tools{
    display: inline-block;
    position: absolute;
    top: 0;
    left: -1px;
}

#scan-list-show {
    position: relative;
    display: inline-block;
}

#tool-fb .fa-file,
#list-file-show i,
#scan-list-show .fa-clipboard {
    display: inline-block;
    position: relative;
    top: -14px;
    left: 1px;
    font-size: 39px;
}

#scan-list-show .fa-folder {
    position: absolute;
    font-size: 20px;
    top: 14px;
    left: 4.6px;
    color: silver;
}

.sub-tools .tool-img-fb,
.sub-tools #scan-list-show{
    position: absolute;
    top: 13px;
    visibility: hidden;
    transition: all 0.15s;
    width: 30px;
    height: 30px;
}

.sub-tools #tool-img{
    top: 0;
    left: -13px;
}
.sub-tools #tool-img .fa-image{
    display: inline-block;
    border-radius: 5px;
    padding: 0px 3px;
    background-color: brown;
    font-size: 32px
}

.sub-tools #tool-img .fa-cog{
    position: absolute;
    font-size: 20px;
    top: 20px;
    left: 15px;
}
.sub-tools span:active{
    transform: translateY(6px);
}

#tool-fb{
    top: 9px;
    left: 10px;
}

#tool-fb .fa-file{
    top: -10px;
    left: -8px;
}

#tool-fb .fa-cog{
    position: absolute;
    font-size: 24px;
    top: 11px;
    left: 2px;
    color: gray;
}

.tool-config input:checked + .sub-tools .tool-img-fb{
    visibility: visible;
}

.tool-config input:checked + .sub-tools #tool-fb{
    top: -32px;
}

.tool-config input:checked + .sub-tools #tool-img{
    top: -38px;
}

.tool-config input:checked + .sub-tools #scan-list-show{
    top: -75px;
    visibility: visible;
}