#player{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 1em;
}

#v-controls{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-app-region: drag;
    margin: 2px;
}

#v-controls > *,
#v-controls > * > *{
    -webkit-app-region: no-drag;
    cursor: pointer;
}

#v-controls span i{
    color: #fff;
    font-size: 30px;
}
#v-controls span i:active{
    transform: scale(1.2)
}

#drag-region {
    background-color: red;
    height: 30px;
}

#video-continer {
    height: 100%;
    width: 100%;
}
#v-index{
    width: 70px;
}


#v-controls input[type=number] {
    font-size: 20px;
    background-color: transparent;
    color: white;
    text-align: center;
    outline: none;
    border-radius: 5px;
}

#v-controls input[type=number] {
    transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #DDDDDD;
}

#v-controls input[type=number]:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

#video-seeker{
    margin: 0 40px;
}

#video-seeker .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    color: #fff;
    background-color: #fff;
    border-color: #fff;
    -webkit-app-region: no-drag;
}
#v-mute,
#v-play{
    display: none;
}

#v-play:checked + i:before{
    content: "\f28b";
}

#v-vol{
    position: absolute;
    right: 10px;
    bottom: 0px;
}


#v-vol #v-vol-control{
    position: absolute;
    width: auto;
    height: 5px;
    top: 12px;
    right: 40px;
    
}

#v-vol-control::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}

#mute-icon{
    display: none;
    position: absolute;
    top: 13px;
    background-color: white;
    height: 4px;
    width: 0px;
    transform: rotateZ(135deg);
    pointer-events: none;
    transition: all 3s;
    border-radius: 4px;
}

#v-mute:checked + #mute-icon{
    display: inline-block;
    width: 38px;
    background-color: red;
}

